<div class="au-o-box">
  <AuLabel for="address">Naam Erfgoed</AuLabel>
  <PowerSelect
    @triggerId="address"
    @allowClear={{true}}
    @search={{perform this.search}}
    @selected={{this.addressSuggestion}}
    @onChange={{perform this.selectSuggestion}}
    @loadingMessage="Aan het laden..."
    @searchEnabled={{true}}
    @noMatchesMessage="Geen resultaten"
    @searchMessage="Typ om te zoeken"
    as |suggestion|
  >
    <p>{{suggestion.name}} - {{suggestion.location}}</p>
  </PowerSelect>
</div>